<!--<div class="row" data-ng-controller="LocationsCreateController">-->
<!--<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 col-lg-offset-3 col-lg-6" style="margin-top:30px">-->
<!--<form name="postForm" data-ng-submit="create()" class="form-horizontal jumbotron text-center">-->
<!--<fieldset>-->
<!--<div class="form-group">-->
<!--<h3 for="region">Region</h3>-->
<!--<textarea id="region" name="region" class="form-control"-->
<!--data-ng-model="region" placeholder="POST CONTENT" style="resize:none" rows="1"></textarea>-->
<!--<h3 for="municipality">municipality</h3>-->
<!--<textarea id="municipality" name="municipality" class="form-control"-->
<!--data-ng-model="municipality" placeholder="POST CONTENT" style="resize:none" rows="1"></textarea>-->

<!--<h3 for="country">Country</h3>-->
<!--<textarea id="country" name="country" class="form-control"-->
<!--data-ng-model="country" placeholder="POST CONTENT" style="resize:none" rows="1"></textarea>-->
<!--</div>-->
<!--<div class="text-center form-group">-->
<!--<button type="submit" class="btn btn-lg btn-primary">Create location</button>-->
<!--</div>-->
<!--</fieldset>-->
<!--</form>-->
<!--</div>-->
<!--<section data-ng-controller="LocationController" data-ng-init="listLocation()">-->
<!--<div class="list-group">-->
<!--<a data-ng-repeat="loc in locations" class="list-group-item background-color">-->
<!--<h1>{{loc.municipality}}</h1>-->
<!--</a>-->
<!--</div>-->

<!--&lt;!&ndash;<h1> municipality {{municipality}}</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<h1> region {{region}}</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<h1> country {{country}}</h1>&ndash;&gt;-->


<!--</section>-->
<!--</div>-->


<section class="row" data-ng-controller="PostsCreateController">


    <section class="row" data-ng-controller="PostsController" data-ng-init="listPosts()">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 col-lg-offset-3 col-lg-6">
            <button class="circle-text fixed-button" data-toggle="modal" data-target="#postModal"> +
            </button>
            <div class="list-group">
                <a data-ng-repeat="post in posts" class="list-group-item background-color" style="margin-bottom:10px">

                    <img src="{{post.creator.profileImageURL}}" class="img-thumbnail" width="50"
                         style="margin-right:10px">

                    <h4 class="list-group-item-heading " style="display:inline">{{post.content}}</h4>


                    <p class="list-group-item-text" data-ng-bind="post.creator.username"></p>

                    <hr style="margin-top:5px; margin-bottom:5px">
                    <p class="list-group-item-text" style="font-size:x-small">Posted {{post.created}}</p>

                </a>

            </div>

        </div>


    </section>

    <!-- Modal -->
    <div id="postModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Posting in city: City </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <h3 for="content">Post Content</h3>
                    <textarea id="content" name="content" class="form-control"
                              data-ng-model="content" placeholder="POST CONTENT"
                              rows="5" maxlength="150"></textarea>

                        <p><span data-ng-bind="'Number of characters left:'+ left()"></span></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning"
                            data-dismiss="modal">No
                    </button>
                    <button type="button" class="btn btn-warning"
                            ng-click="create()" data-dismiss="modal">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
