<section class="row" data-ng-controller="PostsController">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
        <form name="postForm" data-ng-submit="create()" class="form-horizontal"
              autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="content">Content</label>
                    <input type="text" id="content" name="content" class="form-control"
                           data-ng-model="content" placeholder="POST CONTENT">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-lg btn-primary">Create Post</button>
                </div>
            </fieldset>
        </form>
    </div>
</section>

