
.fixed-button {
    position: fixed;
    z-index: 1;
}

.margin-height {
    margin-bottom: 110px;
    margin-top: 30px;

}

.circle-button {

    width: 70px;
    height: 70px;
    line-height: 50px;
    border: 2px solid #ff9908;
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    background: #ff9908;
    box-shadow: 0 0 3px gray;
    font-size: 50px;
    font-weight: bold;
}
.circle-text:hover{
    color: #c8c8c8;
}
.round-button:hover {
    background: #FF9908;
}
.text-area-no-resize{
    resize: none;
}

.post{
    border: #FF9908 1px solid;
    margin-bottom:20px;
    background-color:#FFE4BD;
    padding:0 0;
}

.post-head{
    margin-bottom:10px;
    padding:10px 15px;
}

.post-content{
    padding:10px 15px;
}

.post-bottom{
    margin-top:10px;
    padding:10px 15px;
}

.post-hr{
    margin-top:5px;
    margin-bottom:0;
    border-top:2px solid #ff9908;
}

.post-profile-image{
    margin-right:10px;
    border:1px solid #ff9908;
}

.post-username{
    display:inline;
    font-family: inherit;
    word-wrap: break-word;
    font-size: 19px;
}

.comment{
    border: 0;
    /*margin-bottom:1px;*/
    background-color:#FFCB80;
    padding:0 0;
}

.comment-head{

    padding:5px 15px;
}

.comment-content{
    padding:5px 15px;
}

.comment-bottom{
    margin-top:10px;
    padding:2px 6px;
}

.comment-hr{
    margin-top:0;
    margin-bottom:0;
    border-top:1px solid #ff9908;
}

.comment-create{
    border: 0;
    /*margin-bottom:20px;*/
    padding-left:10px;
    /*display:inline;*/
}

.button:active{
    background-color: #ff9908;
}

.posts-municipality{
    text-align: center;
    font-family: inherit;
    font-size: 80px;
}
.vote-button{
    text-align:right;
    margin-top:0;
}
.text-font{
    font-family: inherit;
}
.text-content{
    font-family: inherit;
    word-wrap: break-word;
    font-size: 18px;
}
.bottom-text{

    font-family: inherit;
    font-size: 11px;
    text-align:right;
}
.comment-username{
    display:inline;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
}
.comment-bottom-text{
    font-family: inherit;
    font-size: 11px;
    text-align:right;
}
.comment-content-text{
    font-family: inherit;
    word-wrap: break-word;
    font-size: 14px;
}
.comment-bottom{
    margin-top:1px;
}
.comment-box {
    background-color: #fdfdfe;
    border: solid 1px #ff9908;
    color: #000000;
    border-radius:5px;
    height:42px;
    width:80%;
}
.comments-load-more{
    padding:2px 6px;
    color: #a36307;
}
