<div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 col-lg-offset-3 col-lg-6 text-center">
        <h3>Your posts</h3>
    </div>
</div>
<div class="row" data-ng-controller="PostsController" data-ng-init="listUserPosts()">
    <div class="list-group">
        <div data-ng-repeat="post in posts" class="list-group-item post">
            <div class="post-head">
                <img src="{{post.creator.profileImageURL}}" class="img-thumbnail post-profile-image" width="50">

                <h4 class="list-group-item-heading post-username">{{post.creator.username}}</h4>
            </div>

            <p class="list-group-item-text" data-ng-bind="post.content"></p>

            <div class="post-bottom">
                <hr class="post-hr">
                <p class="list-group-item-text" style="font-size:x-small">Posted {{post.created}} in
                    {{post.location.municipality}}</p>
            </div>
        </div>
    </div>
</div>
